<main id="about">
  <div class="content">
    <h1>About Us</h1>
    HG Business Law combines legal advice with business consulting to get your business off the ground.

    Running a business is rewarding, exhausting, and full of unexpected surprises. We know because we’ve done it.
    Whether you’re just starting or looking to grow, HG works with you to get and keep your business on the right track.
    From choosing the best business entity to protecting your legacy with business succession strategies, we do the planning
    so you can avoid unwelcome surprises.

    Our philosophy is all about you.  We give you the personalized attention and responsiveness that you’re missing from
    online legal warehouses, and our unique subscription plans keep you covered while keeping your costs low and predictable.

    We are a small business for small businesses. Contact us and let us know how we can help.

    <div class="bio">
      <h2>One Bio Here</h2>
    </div>

    <div class="bio">
      <h2>Another Bio Here</h2>
    </div>
  </div>
</main>