<main id="about">
  <div class="content">
    <h1>About Us</h1>

    <p>At HG, you are at the heart of everything we do.</p>

    <p>We are committed to putting the client first and hold ourselves to the highest standards of customer service.  We
    cherish the excellent relationships we build with our clients and members, and look forward to providing you with
    the best customer experience in the industry.</p>

    <p>We understand that the demands of today’s business environment can make it impractical to interrupt your schedule
    to meet with your lawyers.  Our goal is to integrate seamlessly into your existing workflow.</p>

    <p>To maximize client convenience, HG Business Law uses a state-of-the-art encrypted online legal services platform
    that allows you to communicate quickly, confidentially, and securely with the firm entirely online no matter where
    you are. In addition, we can meet with you by phone and videoconference, using the application of your choice, such
    as Skype or Google Hangouts. All clients are invited to register with our online legal services platform, where you
    can access your documents, attorney-client communications, invoices and more, any time of day, from any internet
    connected device, anywhere in the world. </p>

    <p>In addition to the online-only option, we can meet at any location convenient to you in the San Francisco Bay Area
    or Lake Tahoe area. Schedule an appointment online by clicking the button below.</p>

    <div class="bio">
      <h2>Heather Satin</h2>
      <p>Heather Satin began practicing law in Canada in 1998, and was admitted in California in 2011. Heather thrives
        on challenge and feels at home on the road less traveled.  Throughout her career, she has helped shape and lead
        organizations large and small, from solos to substantial corporate enterprises.  She is known statewide for her
        success working with many of California’s top legal software developers and publishers.</p>

      <p>Like all entrepreneurs, Heather knows what it’s like to wear many hats when starting a business.  She enjoys
        being a creative-thinking business strategist, entrepreneurial mentor, complex-contract negotiator, author, and
        educator.  But above all, Heather is a straight-talking, trustworthy, and dedicated advisor. As a business owner,
        legal partner, half-marathoner, lover of languages, and parent of two, Heather understands the demands of
        launching and growing a healthy business while maintaining excellent work-life balance…and your sanity!</p>
    </div>

    <div class="bio">
      <h2>Galia Aharoni</h2>
      <p>Galia Aharoni is licensed to practice law in California and Louisiana.  She has been practicing law since 2009.
        Galia has started two small businesses, served as a Business Development Attorney for a large publishing company,
        and practiced law with both private firms and government organizations.</p>

      <p>She attended Tulane Law School on a Dean’s scholarship where she received Honors in Trial Advocacy, served as
        Senior Articles Editor for the Journal of Law & Sexuality, published an article on intellectual property law,
        and held leadership roles in a variety of clinics and organizations. When not working, she can be found hanging
        out with her dog, drinking too much coffee, reading, or collecting new hobbies like welding, glass blowing,
        and beekeeping.</p>
    </div>

    <div class="bio">
      <h2>The Rest of the Team</h2>
      <p>Galia Aharoni is licensed to practice law in California and Louisiana.  She has been practicing law since 2009.
        Galia has started two small businesses, served as a Business Development Attorney for a large publishing company,
        and practiced law with both private firms and government organizations.</p>

      <p>She attended Tulane Law School on a Dean’s scholarship where she received Honors in Trial Advocacy, served as
        Senior Articles Editor for the Journal of Law & Sexuality, published an article on intellectual property law,
        and held leadership roles in a variety of clinics and organizations. When not working, she can be found hanging
        out with her dog, drinking too much coffee, reading, or collecting new hobbies like welding, glass blowing,
        and beekeeping.</p>
    </div>
  </div>
</main>