<div class="footer-container">
  <footer class="wrapper clearfix">
    <nav class="links">
      <ul>
        <li>
          <a href="/">Client Login</a>
        </li>
        <li>
          <a href="/">1 (855) 41-HGLAW</a>
        </li>
      </ul>
    </nav>

    <nav class="social">
      <ul>
        <li>
          <a href="#" target="_blank"><i class="icon-facebook"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="icon-twitter"></i></a>
        </li>
        <li>
          <a href="/"><i class="icon-linkedin"></i></a>
        </li>
        <li>
          <a href="/"><img class="yelp" src="images/yelp.png"></a>
        </li>
      </ul>
    </nav>
    <small>© 2013 HG Business Law, LLP • Serving clients throughout California<a href="/terms">Terms</a></small>
  </footer>
</div>