<div class="footer-container">
  <footer class="wrapper clearfix">
    <nav class="links">
      <small>© 2013 HG Business Law, LLP • Serving clients throughout California • (855) 41-HGLAW </small>
      <ul>
        <li>
          <a href="/terms">Terms</a>
        </li>
        <li>
          <a href="/">Client Login</a>
        </li>
      </ul>
    </nav>

    <nav class="social">
      <ul>
        <li>
          <a href="#" target="_blank"><i class="icon-facebook"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="icon-twitter"></i></a>
        </li>
        <li>
          <a href="/"><i class="icon-linkedin"></i></a>
        </li>
        <li>
          <a href="/">YELP</a>
        </li>
      </ul>
    </nav>
  </footer>
</div>