<div class="footer-container">
  <footer class="wrapper clearfix">

    <nav class="social">
      <ul>
        <li>
          <a href="#" target="_blank"><i class="icon-twitter"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="icon-facebook"></i></a>
        </li>
        <li>
          <a href="/"><i class="icon-instagram"></i></a>
        </li>
        <li>
          <a href="/"><i class="icon-flickr"></i></a>
        </li>
      </ul>
    </nav>

    <nav>
      © 2013 HG Business Law, LLP • Serving clients throughout California • (855) 41-HGLAW
      <ul>
        <li>
          <a href="/terms">Terms</a>
        </li>
      </ul>
    </nav>
  </footer>
</div>