<div class="header-container">
  <header class="wrapper clearfix">
    <a href="/">
      <div class="logo"></div>
    </a>
    <nav>
      <ul>
        <li>
          <a href="/services">Services</a>
        </li>
        <li>
          <a href="/pricing">Pricing</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog/">Articles</a>
        </li>

        <li>
          <a href="#" class="md-trigger" data-modal="modal-contact">Contact</a>
        </li>
        <li>
          <a href="#" class="md-trigger" data-modal="modal-signup">Free Consultation</a>
        </li>
      </ul>
    </nav>
  </header>
</div>

<div class="md-modal md-effect-3" id="modal-signup">
  <div class="md-content">
    <h1>Schedule Consultation</h1>
    <a href="#" class="md-close">X</a>
    <div>
      <!--<button class="modal-submit">Sign Up</button>-->
    </div>
  </div>
</div>

<div class="md-modal md-effect-3" id="modal-contact">
  <div class="md-content">
    <h1>Contact Us</h1>
    <a href="#" class="md-close">X</a>
    <div class="left-content">
      <h2><i class="icon-envelope"></i> info@hgbusinesslaw.com</h2>
      <h2><i class="icon-phone-sign"></i> (855) 41-HGLAW </h2>
      <h2><i class="icon-map-marker"></i> Mailing address <br />
        <i class="icon-map-marker"></i> Mailing address 2</h2>


      <p>Any communication with HG Business Law, LLP prior to formally engaging the firm as your attorney does not
        establish an attorney-client relationship. Please do not send confidential or time-sensitive information through
        this form or to the info@hgbusinesslaw.com email address.</p>
    </div>

    <div class="right-content">
      <fieldset>
        <label>Name</label>
        <input type="text" value="">

        <label>Email</label>
        <input type="text" value="">

        <label>Phone</label>
        <input type="text" value="">

        <label>Message</label>
        <textarea></textarea>
      </fieldset>

      <button class="modal-submit">Submit</button>
    </div>
  </div>
</div>

<div class="md-overlay"></div>

<div class="md-overlay"></div>

