<main id="pricing">
  <div class="content">
    <h1>Flexible Ways to Pay</h1>

    <div class="page_anchor">
    <a href="#">Business Subscriptions</a> | <a href="#">Business Services (a la cart)</a> | <a href="#">Flat & Hourly Rates</a> | <a href="#">FAQs</a>
    </div>

    <div class="subscriptions">
      <div class="description">
        <h2>Business Subscriptions</h2>

        <p>In addition to the traditional hourly rate and flat fee our subscription model gives you the security of having
          your lawyers on call whenever you need us, along with a stable, predictable fee. Most of our monthly subscription
          options provide you with a Business Checkup on subscription, the freedom to ask us quick questions, a set amount
          of dedicated legal and strategy hours, and a discount on any additional legal services. All our services include
          long-term planning and proactive prevention of future problems, which will save you and your business money down
          the road.  We believe that you shouldn’t be afraid to ask questions; our subscription model grants you the
          freedom to ask.</p>
      </div>

      <div class="tsc_pricingtable03 tsc_pt3_style1 pricing-table">
        <div class="caption_column">
          <ul>
            <li class="header_row_1 align_center radius5_topleft"></li>
            <li class="header_row_2">
              <h2 class="caption">Choose plan</h2>
            </li>
            <li class="row_style_4"><span>Hours Of Legal Service</span></li>
            <li class="row_style_2"><span>Additional Hours Discount</span></li>
            <li class="row_style_4"><span>Quick Questions</span></li>
            <li class="row_style_2"><span>Business Checkup</span></li>
            <li class="row_style_4"><span>Strategy Session</span></li>
            <li class="footer_row"></li>
          </ul>
        </div>
        <div class="column_1">
          <ul>
            <li class="header_row_1 align_center">
              <h2 class="col1">basic</h2>
            </li>
            <li class="header_row_2 align_center">
              <h1 class="col1">$<span>349</span></h1>
              <h3 class="col1">per month</h3>
            </li>
            <li class="row_style_3 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">1 Hour</a></span></li>
            <li class="row_style_1 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">No Discount</a></span></li>
            <li class="row_style_3 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">10</a></span></li>
            <li class="row_style_1 align_center"><span><a href="#" class="tooltip" rel="Tooltip info."></a></span></li>
            <li class="row_style_3 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></a></span></li>
            <li class="footer_row">
              <p>
                Recommended for stable micro-businesses with under 5 employees.
              </p>
              <button>sign up</button>
          </ul>
        </div>
        <div class="column_2">
          <ul>
            <li class="header_row_1 align_center">
              <h2 class="col2">plus</h2>
            </li>
            <li class="header_row_2 align_center">
              <h1 class="col2">$<span>499</span></h1>
              <h3 class="col2">per month</h3>
            </li>
            <li class="row_style_4 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">2 Hours</a></span></li>
            <li class="row_style_2 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">10% Discount</a></span></li>
            <li class="row_style_4 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">10</a></span></li>
            <li class="row_style_2 align_center"><span><a href="#" class="tooltip" rel="Tooltip info.">Once Annually</a></span></li>
            <li class="row_style_4 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></a></span></li>
            <li class="footer_row">
              <p>
                Recommended for business that are stable, who need services like contract review and advice on simple employment issues.
              </p>
              <button>sign up</button>
          </ul>
        </div>
        <div class="column_3">
          <ul>
            <li class="header_row_1 align_center">
              <h2 class="col3">premium</h2>
            </li>
            <li class="header_row_2 align_center">
              <h1 class="col3">$<span>799</span></h1>
              <h3 class="col3">per month</h3>
            </li>
            <li class="row_style_3 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">5 Hours</a></span></li>
            <li class="row_style_1 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">15% Discount</a></span></li>
            <li class="row_style_3 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Unlimited</a></span></li>
            <li class="row_style_1 align_center"><span><a href="#" class="tooltip" rel="Tooltip info.">Once Annually</a></span></li>
            <li class="row_style_3 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Included</a></span></li>
            <li class="footer_row">
              <p>
                Recommended for businesses with 5+ employees or independent contractors who need services such
                as contract review & negotiation, advice on business reporting/licensing requirements, IP protection, and general strategy.
              </p>
              <button>sign up</button>
          </ul>
        </div>
        <div class="column_4">
          <ul>
            <li class="header_row_1 align_center radius5_topright">
              <h2 class="col4">counsel</h2>
            </li>
            <li class="header_row_2 align_center">
              <h1 class="col4">$<span>1249</span></h1>
              <h3 class="col4">per month</h3>
            </li>
            <li class="row_style_4 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">8 Hours</a></span></li>
            <li class="row_style_2 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">25% Discount</a></span></li>
            <li class="row_style_4 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Unlimited</a></span></li>
            <li class="row_style_2 align_center"><span><a href="#" class="tooltip" rel="Tooltip info.">Once Per Quarter</a></span></li>
            <li class="row_style_4 align_center"><span><a href="#" class="tooltip" rel="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Unlimited</a></span></li>
            <li class="footer_row">
              <p>
                Recommended for established and growing businesses with 10+ employees or independent contractors
                who need a full range of legal services to support their organization.
              </p>
              <button>sign up</button>
            </li>
          </ul>
        </div>
      </div>


      <div class="tsc_clear"></div> <!-- line break/clear line -->
    </div>

    <div class="products">
      <h2>Business Services (a la cart)</h2>

      <div class="product">
        <h3>Business Checkup</h3>

        <p>Business Checkups (a $599 value) are included in our Plus, Premium, and General Counsel packages. For each
          Checkup, you will first provide HG with some basic information about your business. HG will review the information,
          meet with you, and go over all the areas in which we think your business might be open to liability or could use
          some planning and protection. HG will summarize our findings and recommendations to you in a written report.
          Business Checkups are also available as add-ons or can be purchased individually without a subscription plan.</p>

        <button>More Information</button>
      </div>

      <div class="product">
        <h3>Full Day Strategy Session</h3>

        <p>Full Day Strategy Sessions (a $1,499 value) are available a la carte or to those businesses who enroll in our
          General Counsel subscription plan. More thorough than a Business Checkup, HG lawyers will personally come to your
          place of business and spend up to an entire business day to meet with your business’s owners, HR, and other key
          employees. We will take an in-depth look at every aspect of your business, and will work with you to discuss risk
          management strategy and design policies and procedures that support the organization’s vision and protect your
          business from future liability.</p>
        <button>More Information</button>
      </div>
   </div>

    <h2>Flat & Hourly Rates</h2>

    <p>HG Business Law can bill a traditional hourly rate or you can choose a flat fee rate based on service.
      Whether you need a single document prepared, such as an employment contract or a shareholders’ agreement, or you are
      undertaking a large complex project, we can quote a flat fee so you’ll never be surprised or left wondering about
      your legal fees.</p>


    <div class="faq">
      <h1>FAQ</h1>
      <div class="question">

        <h3>Why would I a choose a subscription?</h3>

        <p>By working with HG regularly, you’ll have lawyers on-hand who already know your business and can help you avoid
        common pitfalls before you end up in a situation that requires expensive legal services to fix.</p>

        <p>More generally, we offer subscriptions because they allow us to offer our clients:</p>

        <ul>
          <li>Readily accessible service</li>
          <li>Personalized advice</li>
          <li>Proactive planning and risk mitigation</li>
          <li>Low, predictable costs and lower long-term costs</li>
        </ul>
      </div>

      <div class="question">
        <h3>What do my on-call legal service hours include?</h3>

        <p>Your on-call legal service hours include business strategy planning, marketing strategy planning, document review,
        legal research, referral services, negotiation, sending cease and desist letters, and a variety of other legal and
        business services.  It does not include time-intensive services such as some document-writing (e.g. employee
        handbooks, contracts, partnership agreements) or litigation. However, if you commit to a six month subscription,
        we will throw in one free document.  If you commit to one year, we will include three free documents.</p>
      </div>

      <div class="question">
        <h3>What happens if I go over my number of questions or hours? What are your hourly rates? </h3>

        <p>To make sure you never unknowingly exceed that month’s hours/questions, HG will notify you in advance whenever
        you are close to meeting that month’s allotment.  If you find you’ll need additional legal hours that month,
        you’ll have the option to either upgrade to the next subscription level or pay hourly for additional services.</p>
      </div>

      <div class="question">
        <h3>What’s a “quick question”? </h3>

        <p>A quick question is any question that takes us less than five minutes to answer. For example: “Do I need to
        provide sexual harassment training to my managers?” Our Basic and Plus subscription plans include ten quick
        questions, and our Premium and General Counsel plans include unlimited quick questions, on the house!
      </div>

      <div class="question">
        <h3>Can my employees ask questions using my subscription? </h3>

        <p>Because of potential conflicts of interest, HG cannot enter a lawyer-client relationship with both your company
        and your employees.  We therefore cannot give legal advice to your employees through your company’s subscription
        package.  However, HG will gladly work with your company to create and provide an Employee Assistance Program to
        your employees to provide them with their own legal services.  For more information about our EAP bundles and
        rates, please contact us at info@hgbusinesslaw.com.</p>
      </div>

      <div class="question">
        <h3>What methods of payment do you accept?</h3>

        <p>You may use your payment method of choice: cash, check, debit, or credit card. You may also pay online using our
        online legal services portal, and pay your invoices securely at your convenience, any time, from anywhere in the
        world.</p>
      </div>
    </div>
  </div>
</main>