<main id="pricing">
  <div class="content">
    <h1>Pricing</h1>


    <h2>Flat Fee</h2>

    <p>Whether you need a single document prepared, such as an employment contract or a shareholders’ agreement, or you are
    undertaking a large complex project, we can quote a flat fee so you’ll never be surprised or left wondering about
    your legal fees.</p>

    <h2>Hourly rate</h2>

    <p>For entrepreneurs who prefer a more traditional billing method, we can quote an hourly rate.</p>

    <h2>Subscription</h2>

    <p>Most of our monthly subscription options provide you with a free Business Checkup on subscription, the freedom to
    ask us quick questions, a set amount of dedicated legal and strategy hours, and a discount on any additional legal
    services.  Our subscription model gives you the security of having your lawyers on call whenever you need us, along
    with a stable, predictable fee.  All our services include long-term planning and proactive prevention of future
    problems, which will save you and your business money down the road.  We believe that you shouldn’t be afraid to
    ask questions; our subscription model grants you the freedom to ask.</p>

    <p>If you’d prefer less comprehensive help or would like a service not included in your monthly subscription, take a
    look at our services for a sampling of the “a la carte” services available.</p>

    <h1>Subscriptions</h1>
    <p>HG gives you the choice between the security of having an attorney on call and the flexibility of limited scope
    legal and business services, at a predictable monthly price that helps you control your expenses while protecting
    your business.</p>

    <p>Our monthly subscription options provide you with the right blend of services to meet your business needs.
    Subscription services may include Quick Questions, a set amount of legal service hours, Business Checkups,
    Strategy Sessions, and discounts on any additional services.  All our services include long-term planning and
    proactive prevention of future problems, which will save you and your business money down the road.</p>

    <h1>FAQ</h1>

    <h3>Why would I choose a subscription? Can’t I just call a lawyer when I need one?</h3>

    <p>By working with HG regularly, you’ll have lawyers on-hand who already know your business and can help you avoid
    common pitfalls before you end up in a situation that requires expensive legal services to fix.</p>

    <p>More generally, we offer subscriptions because they allow us to offer our clients:</p>

    <ul>
      <li>Readily accessible service</li>
      <li>Personalized advice</li>
      <li>Proactive planning and risk mitigation</li>
      <li>Low, predictable costs and lower long-term costs</li>
    </ul>


    <h3>What do my on-call legal service hours include?</h3>

    <p>Your on-call legal service hours include business strategy planning, marketing strategy planning, document review,
    legal research, referral services, negotiation, sending cease and desist letters, and a variety of other legal and
    business services.  It does not include time-intensive services such as some document-writing (e.g. employee
    handbooks, contracts, partnership agreements) or litigation.</p>


    <h3>But I want you to write a document for me.</h3>

    <p>Document writing is not included in your monthly subscription.  However, if you commit to a six month subscription,
    we will throw in one free document.  If you commit to one year, we will include three free documents.</p>



    <h3>What happens if I go over my number of questions or hours? What are your hourly rates? </h3>

    <p>To make sure you never unknowingly exceed that month’s hours/questions, HG will notify you in advance whenever
    you are close to meeting that month’s allotment.  If you find you’ll need additional legal hours that month,
    you’ll have the option to either upgrade to the next subscription level or pay hourly for additional services.</p>


    <h3>What’s a “quick question”? </h3>

    <p>A quick question is any question that takes us less than five minutes to answer. For example: “Do I need to
    provide sexual harassment training to my managers?” Our Basic and Plus subscription plans include ten quick
    questions, and our Premium and General Counsel plans include unlimited quick questions, on the house!


    <h3>What’s a “Business Checkup”? </h3>

    <p>Business Checkups (a $599 value) are included in our Plus, Premium, and General Counsel packages. For each
    Checkup, you will first provide HG with some basic information about your business. HG will review the information,
    meet with you, and go over all the areas in which we think your business might be open to liability or could use
    some planning and protection. HG will summarize our findings and recommendations to you in a written report.
    Business Checkups are also available as add-ons or can be purchased individually without a subscription plan.</p>


    <h3>What’s a “Full Day Strategy Session”?</h3>

    <p>Full Day Strategy Sessions (a $1,499 value) are available a la carte or to those businesses who enroll in our
    General Counsel subscription plan. More thorough than a Business Checkup, HG lawyers will personally come to your
    place of business and spend up to an entire business day to meet with your business’s owners, HR, and other key
    employees. We will take an in-depth look at every aspect of your business, and will work with you to discuss risk
    management strategy and design policies and procedures that support the organization’s vision and protect your
    business from future liability.</p>


    <h3>Can my employees ask questions using my subscription? </h3>

    <p>Because of potential conflicts of interest, HG cannot enter a lawyer-client relationship with both your company
    and your employees.  We therefore cannot give legal advice to your employees through your company’s subscription
    package.  However, HG will gladly work with your company to create and provide an Employee Assistance Program to
    your employees to provide them with their own legal services.  For more information about our EAP bundles and
    rates, please contact us at info@hgbusinesslaw.com.</p>


    <h3>What methods of payment do you accept?</h3>

    <p>You may use your payment method of choice: cash, check, debit, or credit card. You may also pay online using our
    online legal services portal, and pay your invoices securely at your convenience, any time, from anywhere in the
    world.</p>
  </div>
</main>