<main id="services">
  <div class="content">
    <h1>Services</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h2>We help you Launch.</h2>
    <p>
      Choosing and forming the right entity
      Foreign and domestic (CA-based)
      Corporations: stock, PC, common interest development assoc., close corp.
      Nonprofits: public benefit, mutual benefit, religious, tax-exempt 501(c)s
      Partnerships & other: general, LP, LLP, unincorporated assoc.
      Social purpose: benefit corp., flexible purpose corp., B-corp certification
      Federal, state, and local startup requirements
      Picking a name and domain
      Creating a business and marketing plan
      Getting financing
    </p>

    <h2>We help you Grow.</h2>
    <p>
      Governance, risk management, and compliance
      Complex contract negotiation, drafting, and review
      Protecting copyrights, trademarks, trade secrets
      Leasing and landlord-tenant issues
      Expansion and franchising
      Product development strategy
      Employment issues: classification, contracts, policies, handbooks, legal assistance programs for employees
      Business immigration, and related family immigration issues
    </p>

    <h2>We help you Excel.</h2>
    <p>
      Enforcing your intellectual property rights
      Collection and enforcement remedies, including mechanics’ liens
      General counsel services
      Sales, acquisitions, and mergers
      Licensing and royalties
      Sexual harassment prevention training (AB 1825)
      Fiduciary duties/ethics consulting
      Business succession planning
    </p>

    <h2>Etc.</h2>
    <p>
      Business Checkups Strategy Sessions Unbundled services Notary public Legal research & writing Referral services
    </p>

  </div>
</main>